$background-color:#FFEEDB;
$bg-color: #F5F5F5;

$weak-passowrd-color: #ff5f55;
$weak-passowrd-color-light: #FFBEBA;

$medium-password-color: #EDB458;
$medium-password-color-light: #F7DDB4;

$strong-password-color-light: #95D6A3;
$strong-password-color: #4CB963;

$text-primary-color: #C3DEEF;
$text-secondary-color: #1B4965;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
  
#app{
    background: $background-color;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-weight: 400;
    color: $text-secondary-color;
}

.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

.heading{
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;

        span{
        font-weight: 700;
        }
    }
}

.crackTime{
    display: flex;
    text-transform: capitalize;

    &--message{
        margin-left: 1rem;
    }
}

.feedback{
    position: relative;
    display: flex;
    width: 100%;
    height: 42px;
    border-radius: 32px;
    margin: 1rem 0;
    align-items: center;
    background-color: $text-primary-color;
    font-style: italic;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    animation: move-up .5s ease-in-out;

    &--info{
        background-color: $text-secondary-color;
        border-radius: 32px;
        align-items: center;
        text-align: center;
        font-size: small;
        font-style: normal;
        font-weight: 600;
        padding: 0.5rem;
        margin-left: 0.2rem;
        margin-right: 1rem;
        color: $bg-color;
    }
}

.line{
    display: block;
    border: 1px solid rgba(27, 73, 101, 0.2);
    width: 100%;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.btn{
    outline: none;
    padding: 0.5rem 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);

    &--add{
        border: $text-secondary-color;
        background-color: $text-secondary-color;
        color: $text-primary-color;
    }

    &--sub{
        border: $weak-passowrd-color;
        background-color: $weak-passowrd-color;
        color: $bg-color;
    }
}
// ANIMATIONS

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@keyframes move-up {
    0% {
        position: relative;
        top: 7px;
        opacity: 0;
    }
    100% {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}